$color-light-gray: #ececee;
$color-light-purple: #a69fb8;
$color-medium-gray: #B9B8B8;
$color-white: #fff;
$color-black: #000;

$color-temp-less-than-zero: #0aefff;
$color-temp-less-than-ten: #147df5;
$color-temp-less-than-twenty: #0353a4;
$color-temp-less-than-thirty: #002855;
$color-temp-more-than-zero: #0aff99;
$color-temp-more-than-ten: #a1ff0a;
$color-temp-more-than-twenty: #deff0a;
$color-temp-more-than-thirty: #ffd300;
$color-temp-more-than-fourty: #ff8700;
