@use '../../utilities/variables' as v;

.card {
    background-color: transparent;
    width: 50vw;
    height: 30rem;
    perspective: 1000px;

    &__inner {
        position: relative;

        width: 100%;
        height: 100%;

        transition: transform 0.6s;
        transform-style: preserve-3d;
    }

    .flipped &__inner {
        transform: rotateY(180deg);
    }

    .flipped &__inner &__inner {
        transform: rotateY(0);
    }

    &__front, &__back {
        position: absolute;
        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;

        border-radius: 2rem;

        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
    }

    &__front {
        padding: 2rem;

        &--less-than-thirty {
            background-color: v.$color-temp-less-than-thirty;
            background: linear-gradient(180deg, v.$color-temp-less-than-twenty 0%, v.$color-temp-less-than-thirty 100%);
        }
        &--less-than-twenty {
            background-color: v.$color-temp-less-than-twenty;
            background: linear-gradient(180deg, v.$color-temp-less-than-ten 0%, v.$color-temp-less-than-twenty 50%, v.$color-temp-less-than-thirty 100%);
        }
        &--less-than-ten {
            background-color: v.$color-temp-less-than-ten;
            background: linear-gradient(180deg, v.$color-temp-less-than-zero 0%, v.$color-temp-less-than-ten 50%, v.$color-temp-less-than-twenty 100%);
        }
        &--less-than-zero {
            background-color: v.$color-temp-less-than-zero;
            background: linear-gradient(180deg, v.$color-temp-less-than-zero 0%, v.$color-temp-less-than-ten 100%);
        }
        &--more-than-fourty {
            background-color: v.$color-temp-more-than-fourty;
            background: linear-gradient(180deg, v.$color-temp-more-than-thirty 0%, v.$color-temp-more-than-fourty 100%);
        }
        &--more-than-thirty {
            background-color: v.$color-temp-more-than-thirty;
            background: linear-gradient(180deg, v.$color-temp-more-than-twenty 0%, v.$color-temp-more-than-thirty 50%, v.$color-temp-more-than-fourty 100%);
        }
        &--more-than-twenty {
            background-color: v.$color-temp-more-than-twenty;
            background: linear-gradient(180deg, v.$color-temp-more-than-ten 0%, v.$color-temp-more-than-twenty 50%, v.$color-temp-more-than-thirty 100%);
        }
        &--more-than-ten {
            background-color: v.$color-temp-more-than-ten;
            background: linear-gradient(180deg, v.$color-temp-more-than-zero 0%, v.$color-temp-more-than-ten 50%, v.$color-temp-more-than-twenty 100%);
        }
        &--more-than-zero {
            background-color: v.$color-temp-more-than-zero;
            background: linear-gradient(180deg, v.$color-temp-more-than-zero 0%, v.$color-temp-more-than-ten 100%);
        }
    
        &--more-than-fourty,
        &--less-than-ten,
        &--less-than-twenty,
        &--less-than-thirty {
            color: v.$color-white;
        }
    }

    &__back {
        transform: rotateY(180deg);
    }

    margin: 0 auto;

    &__title {
        font-size: 1.5em;
    }

    &__temperature-info {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        width: 100%;

        padding-bottom: 1.5rem;

        border-bottom: 1px solid v.$color-black;
    }

    &__description {
        display: flex;
        justify-content: space-between;
    }

    &__description,
    &__temperature,
    &__wind,
    &__humidity,
    &__pressure {
        display: flex;

        width: 100%;

        font-size: 1.2em;
    }

    &__temperature {
        display: flex;
        flex-direction: column;

        &--first {
            display: flex;
            align-items: center;
        }

        &--second {
            display: flex;
        }

        &--celsius {
            font-size: 2rem;
        }
    }

    &__temperature-separator {
        margin: 0 .5rem;
    }

    &__field-title {
        flex: 1 1;

        font-weight: bold;
    }

    &__field-value {
        flex: 2 1;

        &--couple {
            flex: 1 1;
        }
    }

    &__action {
        width: 10rem;

        padding: .5rem 1rem;
        margin: 1rem auto 0;

        text-align: center;
        color: v.$color-white;

        background-color: v.$color-medium-gray;

        border-radius: 1rem;

        &:hover {
            cursor: pointer;
        }
    }
}