@use '../utilities/variables' as v;
// @use '../utilities/mixins' as m;

// html {
//     @include m.media-max(v.$mobile-to-tablet) {
//         font-size: 10px;
//     }
// }

body {
    height: 100%;
    min-width: 30rem;

    background-color: v.$color-light-gray;
}

:host {
    height: 100%;
}