@use '../../utilities/variables' as v;

.tooltip {
    position: relative;

    &--enabled {
        cursor: pointer;
    }

    &:hover.tooltip--enabled .tooltip__tooltip,
    &:active.tooltip--enabled .tooltip__tooltip {
        display: block;
    }

    &__content {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; 
    }

    &__tooltip {
        display: none;
        position: fixed;
        max-width: 70vw;
        z-index: 10;

        padding: 0.7rem;
        margin-top: 0.7rem;

        font-size: 0.8rem;
        word-wrap: break-word;

        border-radius: 0.25rem;
        border: solid 1px v.$color-medium-gray;
        box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.13);
        background-color: v.$color-light-gray;

        opacity: .95;
    }
}